.hero-image {
  max-height: 30vh;
  object-fit: cover;
  border-radius: 8px;
  border-top-left-radius: 48px;
  border-bottom: 1px solid #ddd;
}

caption {
  font-size: 0.8rem;
  color: #777;
  margin: 0.5rem 0;
  font-style: italic;
}
