---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Main from '../components/Main.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../config';
import Links from '../components/Links.astro';
import ExternalLink from '../components/ExternalLink.astro';
import Showcase from '../components/Showcase.astro';
import ShowcaseItem from '../components/ShowcaseItem.astro';
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <style>
      h1 {
        font-size: 20vmin;
        margin-bottom: 2.5vmin;
        margin-top: 0;
        line-height: 1.2;
      }
      h2 {
        font-size: 10vmin;
        margin-top: 0;
      }

      @media (min-width: 768px) {
        h1 {
          font-size: 10vmin;
        }
        h2 {
          font-size: 5vmin;
        }
      }

      h1,
      h2 {
        font-family: 'Cormorant', serif;
        font-weight: 100;
        font-style: italic;
      }

      p {
        line-height: 2;
      }

      .showcases {
        flex: 1;
      }
    </style>
    <Main>
      <h1>{SITE_TITLE}</h1>
      <p>
        got started in enterprise dashboards, moonlit in <ExternalLink
          href="https://github.com/a-type?tab=repositories&type=source"
          >open source</ExternalLink
        >, and then jumped straight into <ExternalLink
          href="https://popspace.io">spatial canvas</ExternalLink
        >. Now I'm working on
      </p>
      <h2>local-first apps</h2>
      <Showcase>
        <ShowcaseItem
          href="https://gnocchi.club/welcome"
          image="/images/showcase/gnocchi.png"
        >
          Gnocchi
        </ShowcaseItem>
        <ShowcaseItem
          href="https://verdant.dev"
          image="/images/showcase/verdant.png"
        >
          Verdant
        </ShowcaseItem>
      </Showcase>
      <h2>...and more</h2>
      <ul>
        <li>
          <ExternalLink
            href="https://popstage.com"
            target="_blank"
            rel="noopener noreferrer">PopStage</ExternalLink
          >
          <span> | Collaborative workshop venue</span>
        </li>
        <li>
          <ExternalLink href="https://popspace.io">PopSpace</ExternalLink>
          <span> | Online spatial meeting spaces&nbsp;</span>
          <ExternalLink
            href="https://www.loom.com/share/3c010e7b79114695a5b356579aafb1b7?sid=6ea72b48-af76-4b4d-94cb-2ba38f9f4ad1"
          >
            (Demo and technical overview)
          </ExternalLink>
        </li>
        <li>
          <a href="/projects/subway"
            >A WebGL subway animation I made for an old project</a
          >
        </li>
        <li>
          <a href="/projects/clouds">A procedural 3d cloudscape</a>
        </li>
        <li>
          <a href="/blog/alarm-clock">Building my own smart alarm clock</a>
        </li>
        <li>
          <ExternalLink
            href="https://youtu.be/TH-78-I6Eh0?list=PLTbD2QA-VMnXFsLbuPGz1H-Najv9MD2-H&t=82"
          >
            My talk for the local-first web community
          </ExternalLink>
        </li>
        <li>
          <ExternalLink href="https://a-type.github.io/calendar-blocks/">
            Calendar Blocks
          </ExternalLink>, a set of flexible primitives for React date pickers
        </li>
      </ul>
      <h3>Older stuff</h3>
      <ul>
        <li>
          <ExternalLink href="https://github.com/a-type/graphql-arangodb">
            GraphQL-ArangoDB
          </ExternalLink>, translates whole GraphQL queries to AQL
        </li>
        <li>
          <ExternalLink href="https://github.com/a-type/react-ambient">
            React Ambient
          </ExternalLink>, easy dynamic backgrounds for React
        </li>
        <li>
          <ExternalLink href="https://github.com/a-type/converge">
            Converge
          </ExternalLink>, (defunct) peer-to-peer messaging on the web
        </li>
        <li>
          <ExternalLink href="https://dimension-dom.netlify.app/">
            Dimension
          </ExternalLink>, tools for multi-axis keyboard navigation
        </li>
      </ul>
      <Links />
    </Main>
    <Footer />
  </body>
</html>
