---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Main from '../components/Main.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../config';
import Links from '../components/Links.astro';
import ExternalLink from '../components/ExternalLink.astro';
import Showcase from '../components/Showcase.astro';
import ShowcaseItem from '../components/ShowcaseItem.astro';
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <style>
      h1 {
        font-size: 20vmin;
        margin-bottom: 2.5vmin;
      }
      h2 {
        font-size: 10vmin;
      }

      @media (min-width: 768px) {
        h1 {
          font-size: 10vmin;
        }
        h2 {
          font-size: 5vmin;
        }
      }

      h1,
      h2 {
        font-family: 'Cormorant', serif;
        font-weight: 100;
        font-style: italic;
      }

      p {
        line-height: 2;
      }

      .showcases {
        flex: 1;
      }
    </style>
    <Main>
      <h1>{SITE_TITLE}</h1>
      <p>
        got started in enterprise dashboards, moonlit in <ExternalLink
          href="https://github.com/a-type?tab=repositories&type=source"
          >open source</ExternalLink
        >, and then jumped straight into <ExternalLink
          href="https://popspace.io">spatial canvas</ExternalLink
        >. Now I'm working on
      </p>
      <h2>local-first apps</h2>
      <Showcase>
        <ShowcaseItem
          href="https://gnocchi.club/welcome"
          image="/images/showcase/gnocchi.png">gnocchi.club</ShowcaseItem
        >
        <ShowcaseItem
          href="https://lo-fi.gfor.rest"
          image="/images/showcase/lo-fi.png">lo-fi</ShowcaseItem
        >
      </Showcase>
      <Links />
    </Main>
    <Footer />
  </body>
</html>
