---
const props = Astro.props;
---

<span class="caption" {...props}><slot /></span>
<style>
  .caption {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #666;
    margin-top: 0.25rem;
    font-style: italic;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 2px;
    justify-content: center;
  }
</style>
