---
const today = new Date();
---

<footer>
  <div>&copy; {today.getFullYear()} Grant Forrest. All rights reserved.</div>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
  div {
    font-size: 0.9rem;
  }
</style>
