---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname;
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
    padding: 0.1em 0.5em;
    border-radius: 0.2em;
    transition: 0.2s ease all;
    border: 1px solid var(--color-primary);
  }
  a.active {
    background-color: var(--color-primary);
    color: white;
  }
  a:hover {
    background-color: var(--color-primary-wash);
  }
</style>
