---
import { SITE_TITLE } from '../config';
import Links from './Links.astro';
---

<header>
  <a href="/"
    ><h2>
      {SITE_TITLE}
    </h2>
  </a>
  <Links />
</header>
<style>
  header {
    margin: 0em 0 2em;
    padding: 2rem;
  }
  h2 {
    margin: 0.5em 0;
    font-family: 'Cormorant', serif;
    font-weight: 100;
    font-style: italic;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
</style>
