---
---

<span class="note">
  Hey, I'm looking for a job! <a
    target="_blank"
    rel="noopener noreferrer"
    href="mailto:gaforres@gmail.com"
    >Get in touch!
  </a>
</span>
<style>
  .note {
    font-size: 0.8em;
    font-style: italic;
    color: var(--color-primary);
  }
  .note > a {
    background-color: var(--color-primary);
    color: white;
    display: inline-block;
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
    margin-left: 0.5rem;
    transition: 0.2s ease all;
    text-decoration: none;
  }
  .note > a:hover {
    background-color: var(--color-primary-light);
    color: white;
  }
  .note > a:active {
    background-color: var(--color-primary);
    color: white;
  }
</style>
