---
import HeaderLink from './HeaderLink.astro';
---

<nav>
  <HeaderLink href="/blog">Blog</HeaderLink>
  <HeaderLink href="https://twitter.com/gaforres" target="_blank"
    >Twitter</HeaderLink
  >
  <HeaderLink href="https://github.com/a-type" target="_blank"
    >GitHub</HeaderLink
  >
</nav>
