---
import { Provider } from '@a-type/ui';
---

<Provider disableParticles client:load>
  <main>
    <slot />
  </main>
</Provider>
<style>
  main {
    flex: 1 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
</style>
